.form {
  width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border-radius: 9px;

  .input {
    width: calc(100% - 30px);
    font-size: 16px;
    border: 0;
    color: var(--primary-color);
    padding: 12px;
    background: transparent;

    &:focus {
      + .add-button {
        &:enabled {
          color: var(--primary-color);
        }
      }
    }

    &:hover {
      + .add-button {
        &:enabled {
          color: var(--primary-color);
        }
      }
    }
  }

  .add-button {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
    padding: 12px;

    &:disabled {
      color: var(--text-secondary-color);
      cursor: not-allowed;
    }
  }
}
